
/* The main content window is turned into a flexbox that can adjust itself with the screen/window size */

body {
    display: flex;
    flex: 1;
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column; 
  }

  .body{
    display: flex;
    flex: 1;
  }

  /* The header functions as a flebox and the logo goes inside it as its own box.*/
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    font-size: 32px;
    font-weight: 900;
    background: #eee;
    color: white;
  }

  .logo {
    display: flex;
    width: auto;
    height: 40px;
  }

  /* As the entire page is flexbox designed, the title needs to have its own flexbox to function properly with the rest*/
  .title-box {
    display: flex;
    padding-top: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgb(27, 233, 27);
    color: navy;
  }

  /* The sidebar is designed as a menu so the dimensions need to fit without being too big*/
  
  .sidebar-left{
    flex-shrink: 0;
    padding: 16px;
    padding-top: 25px;
    width: 150px;
    margin-top: -69px;
    background: navy;
  }

  /* Links are given some style and some space between them too*/
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 16px;
  }

  a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  /* The main content on this page is the cards and the container flexbox they are contained in. Using the wrap feature allows the cards to columnise if there is a lack of space. */
  .container {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 300px;
  }

/* Footer section */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    padding: 16px;
    background: #eee;
    color: navy;
  }