.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    color: red;
    background-color: black;
    text-decoration-color: white;
    margin-bottom: -6px;
    padding: 0px;
}

.subtitle {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
    font-style: italic;
    text-align: center;
    color: red;
    background-color: black;
}

.search-bar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.search-inputs[type="text"] {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 0;
    width: 100%;
}

.menu a{
    float:left;
    display: block;
    padding: 14px 16px;
}

.menu a:link {color: black; text-decoration: none;}
.menu a:focus {color: blueviolet; text-decoration: none;}
.menu a:hover {color: red; text-decoration: none;}
.menu a:active {color: lightseagreen; text-decoration: none;}


.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    padding: 2px;
    color: red;
    background-color: black;
}

.flex-container {
    display: flex;
    height: 150px;
    margin-top: 50px;
    margin-bottom: -10px;
    justify-content: space-between;
  }