.title {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    background-color: red;
    text-decoration: underline;
    margin: 0;
    padding: 0;

}

.subtitle {

    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
    font-style: italic;
    text-align: center;
    background-color: red ;
    

}

.heading {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    border: 2px solid red;
}

img.images {

    margin-top: 50px;
    margin-bottom: -10px;
    padding-right: 20px;

    height: 185px;
    width: 300px;
    display: inline-block;

}

.amazon {

    

}
