@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,body{
    height: 100%;
}


.title{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-family: Impact, Georgia, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.profile-picture{
    background: red;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height:  48px;
}

.logo{
    font-family: besley,serif;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    margin-right: 10px;
}

button{
    border: none;
    border-radius: 8px;
    background: black;
    color: red;
    padding: 8px 24px;
}

.title a:link {color: black; text-decoration: none;}
.title a:focus {color: blueviolet; text-decoration: none;}
.title a:hover {color: red; text-decoration: none;}
.title a:active {color: lightseagreen; text-decoration: none;}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.search-bar{

    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.search-inputs[type="text"] {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 0;
    width: 100%;
}

.menu a{
    padding: 14px 16px;
}

.menu a:link {color: black; text-decoration: none;}
.menu a:focus {color: blueviolet; text-decoration: none;}
.menu a:hover {color: red; text-decoration: none;}
.menu a:active {color: lightseagreen; text-decoration: none;}

.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2px;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  
  .info .text{
    font-size: 17px;
    margin-top: 5px;
    max-width: 250px;
    font-family: 'Times New Roman', Times, sans-serif;
  }

  img {
    height: 170px;
    width: 250px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }

  .donate-section{
    margin-top: 50px;
    height: 40%;
    font-family: Roboto, sans-serif;
    background: green;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .donate-modal {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: white;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
  }

  .donate-icon{
    flex-shrink: 0;
    color: black;
    font-size: 26px;
    font-weight: 700;
    background: rgb(124, 255, 118);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .donate-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .donate-modal-text{
    margin-bottom: 16px;
  }

  .donate-close-button{
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.donate-button {
    background: rgb(0, 255, 38);
    border: 2px solid green;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 75px;
    width: 150px;
  }
  
  button.no-donate-button{
    background: white;
    color:grey
  }